<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="pointer-events: none;">Todo App</a>
        </div>
        <ul class="nav navbar-nav mr-auto">
            <li>
                <a class="nav-item nav-link" routerLink="/">Home</a>
            </li>
            <li>
                <a class="nav-item nav-link selected" routerLink="/history">History</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li>
                <a class="nav-item nav-link" style="pointer-events: none;">Greetings, {{currentUser.fullName}}</a>
            </li>
            <li>
                <a class="nav-item nav-link" (click)="logoutUser()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<!--</nav>-->

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="#" target="_top" style="font-size: 14px">Todo App - Ascentic Demo</a>
    </p>
    <p>
        <a href="#" target="_top" style="font-size: 14px">&copy; Aravinda Rathnayake. All rights reserved.</a>
    </p>
</div>
