<ng-data-table
        [id]="'todo_list'"
        [title]="'Active/ Inactive Todos'"
        [selectTrackBy]="'_id'"
        [showHeader]="true"
        [limit]="5"
        [pageable]="true"
        [items]="todosList"
        (init)="onDataTableInit($event)">
    <ng-data-table-column
            [title]="'Status'"
            [width]="30">
        <ng-template #ngDataTableCell let-row="row">
            <td (click)="$event.stopPropagation()">
                <p>{{row.item.status}}</p>
            </td>
        </ng-template>
    </ng-data-table-column>
    <ng-data-table-column
            [field]="'title'"
            [title]="'Title'"
            [width]="50">
    </ng-data-table-column>
    <ng-data-table-column
            [field]="'description'"
            [title]="'Description'"
            [width]="50">
    </ng-data-table-column>
    <ng-data-table-column [title]="'Action'" [width]="14">
        <ng-template #ngDataTableCell let-row="row">
            <td (click)="$event.stopPropagation()">
                <button type="button" class="btn btn-danger btn-sm"
                        (click)="openDeleteModal(row.item['_id'], row.item.title)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </ng-template>
    </ng-data-table-column>
    <ng-template #ngDataTableNoRecords>
        <h1 style="font-family: 'Helvetica Neue'; color: #000000;">No todos have been detected</h1>
    </ng-template>
</ng-data-table>

